<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        body { display: flex; flex-direction: column; align-items: center }
        .real-location {color:green; }
        .through-lb {color:blue; }
        .direct { color: red; }
        h2 { color:#0058a1 }
        table { border-spacing: 5px;}
    </style>
    <title>Cloud Computing Lab 6</title>
</head>
<body>

    <a href = "https://mc.cs.ut.ee/"><img src="https://mc.cs.ut.ee/wp-content/uploads/2020/01/logo.png"/></a>
    <h2> Simple load balancing tracker</h2>


    <h5><b>Recorded page visits on host: {{server_addr}}</b></h5>

    <table>
        <tr><th>Source IP</th><th>Count</th><th></th></tr>
        {% for address in addresses %}
        <tr class="{{address.html_class}}">
            <td>{{address.ip}}</td><td>{{address.hits}}</td><td> {{address.message}} </td>
        </tr >
        {% endfor %}
    </table>

    <p style="font-size:0.75em"><i>(NB! Connections through a load balancer are counted twice, once for the source location and once for load balancer)</i></p>

    <div><button onClick="location.reload(true)">Reload Page</button></div>

</body>
</html>